<header id="header" class="header fixed-top" style="background-color: black;">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
           <h1 style="color: white;">BikBok</h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/" style="color: white;">Home</a></li>
                <li><a class="nav-link scrollto" href="https://github.com/philipk19238/bikbok" style="color: white;">Documentation</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>