{% extends "layout.html" %}
{% block title %}Results{% endblock %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
{% block content %}
<style>
    .green{
        color: #1DB954; 
    }

    .btn{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .btn-pink{
        margin-top: 10px;
        background-color: #1DB954;
        border: none;
        font-size: 20px;
    }

    .form-control {
        padding-top: 1.5rem; 
        padding-bottom: 1.5rem;
    }
</style>
<section id="hero" class="hero d-flex align-items-center" style="background-color: black;">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up" class="green">Join <span style="color: white">{{song_name}}</span></h1>
                <h2 data-aos="fade-up" data-aos-delay="400" style="color: white;"><b class="green">Bikbok</b> is an AI platform that analyzes your music to enable you viral outcomes.</h2>
            </div>
            <div class="col-lg-5 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img class="img-fluid" src="{{ album_art }}">
            </div>
        </div>
    </div>

</section>
{% endblock %}